*.[ao]
.DS_Store
Makefile.kvs
*.bmp
*.kvsml
*.dat
*.bin


App/AnimationPBR/AnimationPBR
App/PBR/PBR
App/AnimationRay/AnimationRay
App/ImageEvaluation/ImageEvaluation
App/OldPBVR/OldPBVR
Examples/TwoScreens/TwoScreens
WaterMass/